
.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(9, 22, 9);
    padding: 6.25rem;
    margin: 2.5rem;
    
  }
  
  .mainSec {
    grid-column: 2;
    
    background-color: rgb(9, 22, 9);
  }
  
  h2 {
    font-size: 32px;
    background-color: rgb(9, 22, 9);
  }
  
  .subTitle {
    background-color: rgb(9, 22, 9);
  }
  
  
  .subSection {
    grid-column: 1;
    grid-row: 2;
    padding: 50px;
    border: 1px white solid;
    background-color: rgb(9, 22, 9);
  }
  
  .lastSec {
    grid-column: 3;
    grid-row: 2;
    padding: 50px;
    border: 1px white solid;
    background-color: rgb(9, 22, 9);
  }

  @media only screen and (max-width: 600px) {

    .home {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        margin: none;
    }

    h2 {
    font-size: 16px;
    }
    
  }