.shop {
  background-color: white;
  flex-direction: column;
  padding: 20px;
}

.product1 {
  background-color: white;
  color: red;
}

.product2 {
  background-color: white;
  color: red;
}

.product3 {
  background-color: white;
  color: red;
}
