.shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;

  /* justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start; */
}

.product {
  margin: 10px;
}
